<div class="container">
  <div class="error-messages">
    <% if @profile.errors.full_messages.any? %>
      <% @profile.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    <% end %>
  </div>

  <nav class="mt-3 mx-md-5 px-md-5">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#edit-profile" role="tab" aria-controls="edit-profile" aria-selected="true">Edit Profile</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#edit-account" role="tab" aria-controls="edit-account" aria-selected="false">Edit Account</a>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active form-edit-profile" id="edit-profile" role="tabpanel" aria-labelledby="nav-home-tab"> <%= render 'form' %></div>
    <div class="tab-pane fade edit-account" id="edit-account" role="tabpanel" aria-labelledby="nav-profile-tab"><%= render template: '/devise/registrations/edit' %></div>  
  </div>
</div>