<div class="user-profile-box">
  <h1 class='username'>
    <%= @user.username %>
  </h1>

  <div class="friendship_button">
    <%= friendship_button(@user) %>
  </div>

</div>

<div class="all-posts">
  <%= render @posts %>
</div>

