.bg-image {
  background:
    linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(4, 4, 43, 0.5),
    rgba(0, 0, 0, 0.8)),
    image-url(bg1_opt);
  background-size: cover;
  background-position: center;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
  height: 50px;
  line-height: 35px;

  &:hover {
    background-color: #264891;
    color: white;
  }
  
  .dropdown-divider {
    border-top: .5px solid rgba(50, 50, 50, 0.15);
  }
}

