
<div class="container">
  <div class="mx-md-5 px-md-5">
    <div class="mx-auto">
      <% @users.each do |user| %>
        <div class="mini-profile-card card mb-3 p-2 shadow-sm">
          <div class="row">

            <div class="col-8 user-avatar">
              <div class="mb-2">
                <%= image_tag avatar(user, :small), class: 'rounded-circle' %>
                <%= link_to user.fullname, user_profile_path(user) %>
              </div>
            </div>

            <div class="col-4 my-auto">
              <div class="float-right">
                <%= friendship_button(user) %>
              </div>
            </div>

          </div>
        </div>    
      <% end %>
    </div>
  </div>
</div>