@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400&display=swap');

.header-font {
  font-family: 'DM Serif Display', serif;
}

.text-font-light {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}