<% @outgoing_requests.each do |outgoing_request| %>
  <div class="request-box">
    <div class="user-avatar">
      <%= avatar(outgoing_request.receiver, :x_small) %>
    </div>
    <%= link_to outgoing_request.receiver.username,  user_profile_path(outgoing_request.receiver) %>
    <%= time_ago_in_words(outgoing_request.created_at) %> ago
    <div class="cancel-request-button">
      <%= link_to 'Cancel Request', remove_request_user_path(outgoing_request.receiver.id), method: :delete %>
    </div>
  </div>
<% end %>