<button class="btn btn-sm btn-secondary px-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    &#8942;
</button>
<%#= fa_icon "ellipsis-v" %> 