@import "bootstrap";
@import "font-awesome";
@import 'base/fonts';
@import "custom/sign_in";
@import "custom/sign_up";
@import 'base/defaults';
@import 'partials/navbar';
@import 'newsfeeds';

.message {
  position: absolute;
  width: 50%;
  left: 25%;
  z-index: 2000;
  top: 9%;
}
